/* Ensure full height layout */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #f0f2f5;
}

/* Basic layout reset */
* {
  box-sizing: border-box;
}

/* Login page centering */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen */
  background-color: #f5f5f5;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
}
.snack-error {
  background-color: #f44336; /* red */
  color: white;
}
.snack-warn {
  background-color: #ffa000; /* orange */
  color: black;
}
.snack-success {
  background-color: #4caf50; /* green */
  color: white;
}
